.profile__picture {
    grid-row: 2 / 4;
    width: 75%;
    height: 95%;
    margin: -5% 0 0 10%;
    filter: drop-shadow(0px 1px 12px rgba(189,196,201,0.7));
    background-color: $light-gray;
    overflow: hidden;

    @media (max-width: $breakpoint-tablet) {
        grid-row: 2;
        width: 127px;
        height: 127px;
        margin: auto;
        text-align: center;
    }
}

.profile__picture img {
    position: absolute;
    right: -45px;
}