.profile__cover-image-button {
    position: absolute;
    top: 23%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 221px;
    height: 45px;
    border-radius: 3px;
    background-color: rgba(155,155,155,0);
    border: 1px solid #d0dce7;
    color: $light-gray;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

    @media (max-width: $breakpoint-tablet) {
        display: none;
    }
}

.profile__cover-image-button ion-icon {
    position: relative;
    top: 6px;
    width: 25px;
    height: 25px;
    margin-right: 13px;
    color: #d0dce7;
}

.profile__cover-image-button:hover {
    cursor: pointer;
    background-color: #d0dce7;
    color: $background-color;
    ion-icon {
        color: $background-color;
    }
}