.profile__info {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 17px;

    @media (max-width: $breakpoint-tablet) {
        grid-column: 1;
        grid-row: 3;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 2fr;
        row-gap: 5px;
        margin-top: auto;
    }
}

.info__name {
    grid-column: 1;
    grid-row: 1;
    font-size: 20px;
    font-weight: 600;
    align-self: center;

    @media (max-width: $breakpoint-tablet) {
        text-align: center;
    }
}

.info__icon {
    color: $icon-color;
    position: relative;
    top: 5px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.info__icon--location {
    grid-column: 1;
    grid-row: 2;

    @media (max-width: $breakpoint-tablet) {
        grid-row: 3;
    }
}

.info__address {
    grid-column: 1;
    grid-row: 2;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 400;
    align-self: center;
    
    @media (max-width: $breakpoint-tablet) {
        grid-row: 3;
    }
}

.info__icon--call {
    grid-column: 1;
    grid-row: 3;

    @media (max-width: $breakpoint-tablet) {
        grid-row: 2;
    }
}

.info__phone {
    grid-column: 1;
    grid-row: 3;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 400;
    align-self: center;

    @media (max-width: $breakpoint-tablet) {
        grid-row: 2;
    }
}

.info__rating {
    text-align: right;
    grid-column: 2;
    grid-row: 1;
    align-self: center;

    @media (max-width: $breakpoint-tablet) {
        grid-column: 1;
        grid-row: 4 / 5;
        display: grid;
        grid-template-columns: 25px 25px 25px 25px;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
        text-align: left;
    }

    ion-icon {
        color: $light-gray;
        position: relative;
        top: 3px;
        width: 25px;
        height: 20px;

        @media (max-width: $breakpoint-tablet) {
            grid-row: 1;
            color: $accent-color;
        }
    }

}

.rating__label {
    font-size: 13px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 25px;

    @media (max-width: $breakpoint-tablet) {
        grid-row: 2;
        grid-column: 2 / 5;
        margin-left: 0;
        margin-right: 5px;
    }
}

.rating__number {
    font-size: 14px;
    font-weight: 600;
    margin-left: 22px;

    @media (max-width: $breakpoint-tablet) {
        grid-row: 2;
        grid-column: 1;
        margin-left: 28%;
    }
}