.profile {
    background-color: white;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 120px 127px 58px;
    max-width: 1170px;
    margin: 50px auto 35px auto;
    width: 95%;
    height: 305px;
    border-radius: 3px;
    filter: $shadow-effect;

    @media (max-width: $breakpoint-tablet) {
        background-color: $background-color;
        grid-template-columns: 100%;
        grid-template-rows: 10% 30% 34% 16%;
        margin: 0;
        padding: 3%;
        width: auto;
        height: 480px;
        padding-bottom: 0;
        margin-bottom: 15px;
    }
}

@import 'profile__cover-image-button.scss';
@import 'profile__followers';
@import 'profile__info';
@import 'profile__logout-button.scss';
@import 'profile__nav';
@import 'profile__picture';