.profile__followers {
    position: relative;
    text-align: right;
    padding: 0px 7px;
    grid-row: 3;
    grid-column: 2;
    z-index: 0;
    
    @media (max-width: $breakpoint-tablet) {
        text-align: left;
        grid-row: 4;
        grid-column: 1;
        margin: auto 0;
    }

    ion-icon {
        background-color: $icon-color;
        color: white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: relative;
        top: 10px;

        @media (max-width: $breakpoint-tablet) {
            top: 0px;
        }
    }
}

.followers__label {
    font-size: 13px;
    font-weight: 400;
    color: #a6b0b7;
    margin-left: 3px;
    margin-right: 15px;

    @media (max-width: $breakpoint-tablet) {
        vertical-align: super;
    }
}

.followers__number {
    font-size: 14px;
    font-weight: 400;
    margin-left: 7px;

    @media (max-width: $breakpoint-tablet) {
        vertical-align: super;
    }
}

.profile__followers:hover {
    .followers__label {
        color: $accent-color;
    }
    .followers__number {
        color: $accent-color;
    }
}