.profile__logout-button {
    position: absolute;
    top: 7%;
    right: 2%;

    @media (max-width: $breakpoint-tablet) {
        top: 3%;
        right: 3%;
        border: 1px solid rgba(155, 155, 155, 0);
    }
}

.profile__logout-button:hover {
    cursor: pointer;
    color: white;
    background-color: $accent-color;
}