.profile__nav {
    grid-row: 3;
    grid-column: 2;
    bottom: 0;
    width: 80%;
    height: 58px;
    z-index: 9;
    margin-right: auto;
    
    @media (max-width: $breakpoint-tablet) {
        grid-row: 5;
        grid-column: 1;
        width: 103%;
        height: 50px;
        background-color: white;
        position: absolute;
        margin-left: -3%;
        white-space: nowrap;
        overflow-x: auto;
        filter: $shadow-effect;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        scrollbar-width: none;
    }
}

@media (max-width: $breakpoint-tablet) {
    .profile__nav::-webkit-scrollbar {
        display: none; 
    }

    .profile__nav::-moz-scrollbar {
        display: none;
    }
}

.nav__item {
    float: left;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 18px;
    padding-top: 18px;
    margin: 0 1.5%;

    @media (max-width: $breakpoint-tablet) {
        padding-bottom: 15px;
        padding-top: 13px;
        margin: 0 3%;
        display: inline-block;   
        float: unset;
    }
}

.nav__item:first-child {
    margin-left: 0;

    @media (max-width: $breakpoint-tablet) {
        margin-left: 25px;
    }
}

.nav__item:hover {
    cursor: pointer;
    border-bottom: solid 2px $accent-color;
}