<div class="content__tab" id="about-page">
    <h2>About</h2>
    
    <!-- edit button for mobile view -->
    <ion-icon class="edit-btn--mobile" onclick="Functions.getAllInputs()" name="pencil-sharp"></ion-icon>
    
    <div class="about__item about__item--name">
        <label id="set-name"></label>
        <ion-icon class="item__edit-btn" onclick="Functions.createPopup(this, 'name')" name="pencil-sharp"></ion-icon>
    </div>
    <div class="about__item ">
        <ion-icon name="earth-outline"></ion-icon>
        <label id="set-website"></label>
        <ion-icon class="item__edit-btn" onclick="Functions.createPopup(this, 'website')" name="pencil-sharp"></ion-icon>
    </div>
    <div class="about__item ">
        <ion-icon name="call-outline"></ion-icon>
        <label id="set-phone"></label>
        <ion-icon class="item__edit-btn" onclick="Functions.createPopup(this, 'phone')" name="pencil-sharp"></ion-icon>
    </div>
    <div class="about__item ">
        <ion-icon name="home-outline"></ion-icon>
        <label id="set-address"></label>
        <ion-icon class="item__edit-btn" onclick="Functions.createPopup(this, 'address')" name="pencil-sharp"></ion-icon>
    </div>
</div>
    