<!-- ABOUT view in mobile devices -->
<h2>About</h2>

<div class="edit-buttons">
    <button id="edit-cancel" onclick="Functions.setContent('about')">CANCEL</button>
    <button id="edit-save" onclick="Functions.getProfileDataValues()" >SAVE</button>
</div>

<div class="input-container">
    <div class="group input-container__item">
        <input class="material-input" type="text" id="edit-input-name" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="material-label" id="edit-label-name"></label>
    </div>
    <div class="input-container__item group">
        <input class="material-input" type="text" id="edit-input-lastname" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="material-label" id="edit-label-lastname"></label>
    </div>
    <div class="input-container__item group">
        <input class="material-input" type="text" id="edit-input-website" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="material-label" id="edit-label-website"></label>
    </div>
    <div class="input-container__item group">
        <input class="material-input" type="text" id="edit-input-phone" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="material-label" id="edit-label-phone"></label>
    </div>
    <div class="input-container__item group">
        <input class="material-input" type="text" id="edit-input-address" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="material-label" id="edit-label-address"></label>
    </div>
</div>