<div id="popup" class="popup">
    <div class="group">
        <input class="material-input" type="text" id="edit-input" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="material-label" id="edit-label"></label>
    </div>
    <div class="popup__buttons">
        <button id="edit-save">SAVE</button>
        <button id="edit-cancel" onclick="Functions.closePopup()">CANCEL</button>
    </div>
</div>