@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import 'utils/materialInput';
@import 'utils/tooltip';
@import 'utils/three-dots';
@import 'utils/logout-popup';


$breakpoint-tablet: 740px;
$background-color: #f5f8f9;
$accent-color: #007ee5;
$fonts:  'Open Sans', 'Helvetica Neue', sans-serif;
$font-color: #3f454a;
$icon-color: #a8b8c4;
$light-gray: #727e88;
$edit-btn-color: #ecf0f5;
$shadow-effect: drop-shadow(0px 1px 3px rgba(114,126,136,0.28));

body {
    background-color: $background-color;
    font-family: $fonts;
    color: $font-color;

    @media (max-width: $breakpoint-tablet) {
        margin: 0;
    }
}

.button {
    width: 97px;
    height: 31px;
    border-radius: 3px;
    background-color: rgba(155,155,155,0);
    border: 1px solid $accent-color;
    color: $accent-color;
    font-weight: 700;
    font-size: 12px;

    @media (max-width: $breakpoint-tablet) {
        border: 1px solid rgba(155, 155, 155, 0);
    }
}

@import 'profile-style/profile';

@import 'content-style/content';