.logout-popup {
    position: absolute;
    right: 22px;
    top: 51px;
    display: inline-block;
    width: 150px;
    height: 100px;
    padding: 8px;
    filter: drop-shadow(0px 1px 3px rgba(114, 126, 136, 0.28));
    background-color: white;
}