/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative;
  margin-top: 12px;
  margin-bottom: 10px;
//   margin-bottom:45px; 
}
.material-input 				{
  font-size:16px;
  font-weight: 400;
  padding:10px 10px 10px 5px;
  display:block;
  width: 243px;
  border:none;
  color: #3f454a;
  border-bottom:1px solid #a6b0b7;
}
.material-input:focus 		{ outline:none; }

/* .material-label ======================================= */
.material-label 				 {
  color:#a6b0b7; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.material-input:focus ~ .material-label, .material-input:valid ~ .material-label 		{
  top:-20px;
  font-size:12px;
  font-weight:400;
  color:#a6b0b7;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:260px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:0px; 
  position:absolute;
  background:#007ee5; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.material-input:focus ~ .bar:before, .material-input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.material-input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#007ee5; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#007ee5; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#007ee5; }
  to 	{ width:0; background:transparent; }
}