.about__item {
    position: relative;
    background-color: $background-color;
    height: 20px;
    padding: 8px 6px;
    margin-bottom: 1px;
    padding-right: 20px;
    clear:both;
    float:left;

    @media (max-width: $breakpoint-tablet) {
        background-color: white;
    }

    ion-icon:first-child {
        color: $icon-color;
    }
    & > label {
        font-size: 14px;
        font-weight: 400;
        position: relative;
        bottom: 3px;
    }
}

.about__item--name {
    & > label {
        font-size: 16px;
        font-weight: 600;
    }
}

.item__edit-btn {
    width: 20px;
    height: 20px;
    background-color: $edit-btn-color;
    color: $light-gray;
    float: right;
    padding: 8px 11.5px;
    position: relative;
    bottom: 8px;
    left: 19px;

    @media (max-width: $breakpoint-tablet) {
        display: none;
    }
}

.item__edit-btn:hover {
    cursor: pointer;
    background-color: $accent-color;
    color: $edit-btn-color;
}