.edit-buttons {
    display: flex;
    width: 35%;
    position: absolute;
    top: 21px;
    right: 21px;
}

.edit-btn--mobile {
    display: none;

    @media (max-width: $breakpoint-tablet) {
        display: block;
        position: absolute;
        width: 26px;
        height: 21px;
        background-color: $edit-btn-color;
        color: $light-gray;
        float: right;
        padding: 2px 2px;
        top: 32px;
        right: 26px;
    }
}

.edit-btn--mobile:hover {
    cursor: pointer;
    background-color: $accent-color;
    color: $edit-btn-color;
}