.popup {
    filter: drop-shadow(0 0 12.5px #bdc4c9);
    background-color: white;
    position: absolute;
    left: 90%;
    top: 0%;
    width: 258px;
    height: 102px;
    z-index: 99;
    padding: 20px
}

.popup__buttons{
    display: inline-block;
    position: relative;
    width: 80%;
    margin: 10px auto;
}

#edit-cancel {
    cursor: pointer;
    float: right;
    width: 97px;
    height: 31px;
    border-radius: 3px;
    background-color: rgba(155,155,155,0);
    border: 1px solid $accent-color;
    color: $accent-color;
    font-weight: 700;
    font-size: 12px;
}

#edit-save {
    cursor: pointer;
    float: left;
    width: 97px;
    height: 31px;
    border-radius: 3px;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    color: white;
    font-weight: 700;
    font-size: 12px;
}

@media (max-width: $breakpoint-tablet) {
    .input-container__item { 
        position:relative;
        margin-top: 35px;
        margin-bottom: 10px;
        .material-input {
            width: 95%;
        }
        .bar {
            width: 100%;
        }
    }
    
    #edit-save, #edit-cancel {
        font-size: 14px;
        font-weight: 400;
        margin: 0 2%;
        background-color: rgba(155, 155, 155, 0);
        border: 1px solid rgba(155, 155, 155, 0);
        color: $accent-color;
    }
}