.content {
    margin: 0 auto;
    max-width: 1170px;
    width: 95%;
    height: 546px;
    border-radius: 3px;
    filter: $shadow-effect;
    background-color: white;

    @media (max-width: $breakpoint-tablet) {
        display: inline-block;
        margin: 0;
        margin-bottom: 10%;
        width: 90%;
        padding: 2% 5%;
        padding-bottom: 12%;
        height: 100%;
        min-height: 280px;

        h2 {
            font-size: 20px;
            color: $light-gray;
            font-weight: 400;
        }
    }
}

.content__tab {
    display: inline-block;
    padding: 3%;
    width: 94%;
    height: auto;
}

@import 'about-tab/about';